/* 
color palete
#124037 (Dark Green)
#3E8C6F (Light Green)
#8C6645 (Dark Beige)
#D99F6C (Beige)
#592E2A (Brownish Maroon)
#F0D185 (Gold Lettering)
*/
body {
  background-color: #124037;
  font-family: 'Times New Roman', Times, serif;
}

.ssTop {
  background-color: #124037;
  margin: 0;
}


.ssPage {
  display: inline-block;
  color: #F0D185; 
  text-decoration: none;
  cursor: pointer;
  padding: 20px;
  background-color: #124037;
  font-size: 20px;
  margin: 20px 20px;
}

.ssPage:hover {
  transform: scale(1.1);
  background-color: #0e342c;
  transition: all 0.5s;
}

.ssLogin {
  color: #F0D185;
  text-decoration: none;
  float: right;
  background-color: #124037;
  font-size: 30px;
  padding: 20px;
  margin: 20px 20px;
  cursor: pointer;
}

.ssLogin:hover {
  transform: scale(1.1);
  background-color: #0e342c;
  transition: transform 0.5s;
}

.ssLogo {
  display: inline-flex;
  vertical-align: top;
  margin-top: 30px;
}

.ssTitle {
  color: #F0D185;
  font-family: 'Times New Roman', Times, serif;
  font-size: 100px;
  margin-bottom: 0;
  margin-top: 30px;
  display: inline-flex;
  vertical-align: top;
}

footer.ssFoot {
  background-color: #0e342c;
  color: #F0D185;
  font-size: 14px;
  text-align: center;
}

.ssFunButton {
  text-decoration: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #124037;
  color: #F0D185;
  padding: 10px;
  border-radius: 5px;
}

.container{
    color: #F0D185;
    display: flex;
    font-size: 25px;
    align-items: center;
    justify-content: center;
    width:400px;
    max-width:400px;
    margin: 1rem;
    padding: 2rem;
    box-shadow: 0 0 40px rgba(0,0,0,0.2);
    border-radius: 4px
}

.container,
.form_input, 
.form_button {
    font: 500 1rem "Quicksand", sans-serif;
}

.form_title{
    margin-bottom: 2rem;
    text-align: center;
}
.form >*:first-child{
    margin-top: 0;
}

.form >*:last-child{
    margin-bottom: 0;
}

.form_error{
    text-align: center;
    margin-bottom: 1rem;
    color: rgb(217, 74, 74)
}
.form_success{
    color: green
}

.form_success{
  color: green;
}